.footer {

    background-color: $color-gray-light-1;
    margin-top: 30rem;
    height: 50vh;

    display: grid; 
    justify-items: center;
    align-items: center;

    &__logo{
        height: 10.25rem; 
        width: 10.25rem;
    }
}